* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 100%;
}

.header {
    position: fixed;
    width: 100%;
    height: 75px;
    color: #FFFFFF;
}
.header .logo {
    width: 25%;
    font-size: 40pt;
    margin: 5pt 0;
    cursor: default;
    text-align: center;
    float: left;
}
.header .nav {
    width: 75%;
    display: flex;
    justify-content: center;
    float: left;
}
.header .nav span {
    cursor: pointer;
    font-size: 20pt;
    padding: 16pt 20pt;
    transition: all .3s ease;
}
.header .nav span:hover {
    background-color: #4E4EEE;
}

@media only screen and (max-width: 1236px) {
    .header {
        height: 63px;
    }
    .header .logo {
        font-size: 2.75em;
    }
    .header .nav span {
        font-size: 1em;
    }
}

@media only screen and (max-width: 900px) {
    .header {
        height: auto;
    }
    .header .logo {
        width: 100%;
        display: block;
        float: none;
    }
    .header .nav {
        width: 100%;
        display: block;
        float: none;
        text-align: center;
    }
    .header .nav span {
        display: inline-block;
    }

    .content {
        margin-top: 125px;
    }
}

.content {
    margin-top: 75px;
    min-height: 100vh;
}
.content .section {
    width: 96%;
    text-align: center;
    padding: 50pt 0;
    margin: 0 2%;
}
.content .section .title {
    width: 100%;
    display: block;
}
.content .section .title h1 {
    display: inline-block;
    border-bottom: 5pt ridge #4E4EEE;
    padding: 0 25pt;
}
.content #product .product-container {
    width: 250pt;
    display: inline-block;
    margin: 10pt;
    padding-bottom: 10pt;
    border: 1px solid #dddddd;
    vertical-align: top;
}
.content #product .product-container .img-container {
    height: 175px;
    display: flex;
    justify-content: center;
    margin: 0 10pt 10pt 10pt;
}
.content #product .product-container .img-container img {
    max-width: 250px;
}
.content #product .product-container article {
    margin: 0 10pt;
    text-align: center;
}

.content #team .team-container .member {
    display: inline-block;
    margin: 25pt;
}
.content #team .team-container .member span.name {
    display: block;
    margin-top: 1rem;
}
.content #team .team-container .member .picture{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    min-width: 250px;
    border-radius: 100%;
    background-color: #ddd;
}

.content #testi .testi-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
}
.content #testi .testi-container .testi-navigator .testi-nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
}
.content #testi .testi-container .testi-navigator .testi-nav:checked {
    animation: check 0.5s linear forwards;
}
.content #testi .testi-container .testi-navigator .testi-nav:checked:nth-of-type(1) ~ .testi-area {
    transform: translateX(0%);
}
.content #testi .testi-container .testi-navigator .testi-nav:checked:nth-of-type(2) ~ .testi-area {
    transform: translateX(-25%);
}
.content #testi .testi-container .testi-navigator .testi-nav:checked:nth-of-type(3) ~ .testi-area {
    transform: translateX(-50%);
}
.content #testi .testi-container .testi-navigator .testi-nav:checked:nth-of-type(4) ~ .testi-area {
    transform: translateX(-75%);
}
/* .container #testi .testi-container .testi-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    transition: all 1s ease-out;
    display: flex;
    flex-flow: row nowrap;
} */
/* .container #testi .testi-container .testi-area .testi-item {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
} */
@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

.footer {
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.footer .contact .info {
    cursor: pointer;
    display: inline-block;
    padding: 10pt 50pt;
    transition: all .3s ease;
}
.footer .contact .info:hover {
    background-color: #ffffff;
    color: #5F5FFF;
}
.footer .contact .info i {
    display: block;
}
.footer .copyright {
    padding: 5pt 0;
}